<figure class="grafico">
  @if (unit()) {
    <figcaption class="unidad_grafico">{{ unit() }}</figcaption>
  }

  <div class="area_grafico">
    @for (bar of bars(); track bar.label) {
      <div class="columna_grafico">
        <div
          class="barra_grafico"
          [class.is-highlight]="bar.destacado"
          [class.is-projected]="bar.proyectado"
          [style.height.%]="bar.height"
          [attr.title]="bar.label + ': ' + bar.value">
        </div>
        <span class="etiqueta_grafico" [class.is-highlight]="bar.destacado">{{ bar.label }}</span>
      </div>
    }
  </div>

  <ul class="leyenda_grafico">
    <li><span class="clave_grafico"></span> Ventas mensuales</li>
    <li><span class="clave_grafico clave_grafico_destacado"></span> Mejor mes</li>
    <li><span class="clave_grafico clave_grafico_proyectado"></span> Proyectado</li>
  </ul>
</figure>
